 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
  font-weight: bold;
  min-width: 320px;
}

img {max-width:100;}



.hero-unit {
  margin: 2% auto 0 auto;
  width: 98%;
  overflow: auto;
  background-color: #fff;
  border-radius: 6px;

  a {
    // text-decoration: none;
    color: HSLA(227, 74%, 79%, .8);

    &:hover {
      color: HSLA(227, 74%, 79%, 1)
    }
  }
  



  ul {
    margin: 1% auto;

    .checked {
      h4 {
        text-decoration: line-through;
      }
    }

    li {
      list-style: none;
      border: 2px solid HSLA(226, 75%, 81%, .2);
      border-radius: 5px; 
      height: auto;
      margin: 1% auto;
      min-width: 350px;
      overflow: auto;
      padding: 1%;
      width: 100%;


      &:hover {
        border: 2px solid HSLA(226, 75%, 81%, .5);
      }

      #icon {
        border-radius: 5px;
        display: inline-block;
        font-size: 3rem;
        margin: 0px 1%;
        &:hover {
          cursor: pointer;
          color: green;
        }
      }
    }
  }   
}



#plus {
  float: right;
  margin: 2% 3%;
  width: 7%;

  &:hover {
    opacity: 0.6;
  }
}



.info-container {
  display: inline-block;
  margin: 0px 3%;
  overflow: auto;
  width: 60%;

  h3 {
      font-weight: bold;
      margin: 0 auto;
    }

  p {
    font-size: .8em;
  }
}

.icon-container {
  float: right;
  width: 20%;

  h3 {
    display: inline-block;
    font-weight: bold;
    margin: 0 auto;
  }

  .delete {
    display: inline-block;
    width: 30px;
    float: right;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

}



}




